/* 게시물 상세 */
/* 광고 영역 */
#board-info + div {
    border: 2px solid #212529;
    background-color: #343a40;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 1em !Important;
}

#board-info + div > div > div:last-child {
    background-color: #343a40;
}

/* 게시글 카테고리 */
#article-info > h2 > span.category {
    border: 0;
    padding: 0 0 6px 0;
    border-radius: 10px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
}

#article-info > h2 > span.category[style="color:#000000"] {
    display: none;
}

#article-info > h2 > span.category[style="color:#3640f7"] {
    color: #91a7ff !important;
}

#article-info > h2 > span.category[style="color:#00872a"] {
    color: #69db7c !important;
}

#article-info > h2 > span.category[style="color:#52e59d"] {
    color: #96f2d7 !important;
}

/* 게시글 제목 */
#article-info {
    background-color: #343a40;
    padding: 20px 20px 15px 20px;
    border-radius: 20px 20px 0 0;
    border: 2px solid #212529;
    color: #e9ecef;
    border-bottom: none;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#article-info > h2 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 25px;
}
/* 게시물 작성자 프로필 사진 */
#article-info .article-profile-img {
    border-radius: 15px;
    border: 2px solid #212529;
}

/* 게시물 작성자 닉네임 */
#article-info #article-info-writer {
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}

#article-info #article-info-writer > img {
    margin-right: 7px;
}

/* 게시물 컨테이너 */
#article-content-wrapper {
    padding: 0;
    border-radius: 20px;
}

/* 게시물 본문 헤더 */
#article-content-wrapper > .header {
    background-color: #343a40;
    border: 2px solid #212529;
    color: #f8f9fa;
    border-top: none;
    height: 45px;
    margin-bottom: 1em;
    padding: 13px 15px 0 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

/* 게시물 본문 */
#article-content-wrapper #article-content {
    color: white;
    background-color: #343a40;
    border-radius: 20px 20px 0 0;
    border: 2px solid #212529;
    border-bottom: none;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    padding: 20px;
    word-break: keep-all !important;
    font-size: 15px;
}

/* 게시물 추천 영역 */
#article-content-wrapper > .vote-area {
    background-color: #343a40;
    border-radius: 0 0 20px 20px;
    margin-bottom: 1em;
    border: 2px solid #212529;
    border-top: none;
}

/* 게시글 추천버튼 */
.vote-btn {
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 13px;
    transition: all 0.2s;
    border: 2px solid #5cb85c;
    color: #5cb85c;
    outline: none !important;
}

.vote-btn:hover {
    color: white !important;
}

.vote-btn:active {
    background-color: #0094ff;
    border: 2px solid #0094ff;
    box-shadow: none;
}

.vote-btn:focus {
    color: #5cb85c;
}

/* 게시물 관리 영역 */
#article-content-wrapper > .footer {
    background-color: #343a40;
    padding: 20px;
    margin: 1em 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    border: 2px solid #212529;
}

/* 게시물 관리 버튼 (일반) */
#article-content-wrapper > div.footer > a {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #495057;
    background-color: #495057;
    color: #f8f9fa;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
}

#article-content-wrapper > div.footer > a:hover {
    border: 2px solid #1971c2;
    color: #f8f9fa;
}

#article-content-wrapper > div.footer > a:active {
    box-shadow: none;
    border: 2px solid #1971c2;
    background-color: #1971c2;
}

/* 게시물 관리 버튼 (신고) */
#reportArticleBtn {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #8b1d1d;
    background-color: #8b1d1d;
    color: white;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
}

#reportArticleBtn:hover {
    border: 2px solid #c92a2a;
    background-color: #c92a2a;
}

#reportArticleBtn:active {
    box-shadow: none;
}

#reportArticleBtn:focus {
    border: 2px solid #f03e3e;
    background-color: #f03e3e;
}

/* 목록, 스크랩, 수정, 삭제버튼 아이콘 */
#article-content-wrapper > div.footer > a > i {
    display: none;
}

/* 게시물 신고 버튼 아이콘 */
#reportArticleBtn > i {
    display: none;
}

/* 게시물 댓글 컨테이너 */
#article-reply-area {
    border: 2px solid #212529;
    background-color: #343a40;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    margin-bottom: 1em;
}

/* 게시물 댓글 영역 헤더 */
#article-reply-area > .header {
    padding: 0;
}

#article-reply-area > .header > h5 {
    color: #f8f9fa !important;
}

#article-reply-area > .header > h5 > a {
    color: #1971c2 !important;
}

/* 게시물 댓글 영역 - 베스트 댓글 컨테이너 */
#article-reply-area #reply-best-area {
    padding: 20px 0 0 0;
}

#article-reply-area #reply-best-area:empty {
    display: none;
}

/* 베스트 댓글 - 댓글 컨테이너 */
#article-reply-area #reply-best-area .reply {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #1864ab;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

#article-reply-area #reply-best-area .reply:last-child {
    margin-bottom: 0;
}

/* 베스트 댓글 - 댓글 헤더 */
#article-reply-area #reply-best-area .reply > .reply-header {
    padding: 10px 15px;
    border-radius: 17px 17px 0 0;
    background-color: #1864ab;
    border-bottom: 0;
}

#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu {
    color: #f8f9fa;
}

#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > a {
    color: #f8f9fa;
}

#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > .time {
    color: #f8f9fa;
}

/* 베스트 댓글 - 댓글 본문 */
#article-reply-area #reply-best-area .reply > .reply-content {
    padding: 10px 15px;
    border-radius: 0 0 18px 18px;
    color: white;
    background-color: #495057;
}

/* 게시물 댓글 영역 - 일반 댓글 리스트 */
#article-reply-area #reply-real-area {
    padding: 20px 0 0 0;
}

#article-reply-area #reply-real-area:empty {
    display: none;
}

/* 일반 댓글 컨테이너 */
#article-reply-area #reply-real-area .reply {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #212529;
    background-color: #495057;
    padding: 0;
}

/* 일반 댓글 헤더 */
#article-reply-area #reply-real-area .reply > .reply-header {
    padding: 10px 15px;
    border-radius: 17px 17px 0 0;
    background-color: #212529;
    border-bottom: 0;
}

/* 댓글 작성자 */
.reply > .reply-header > .reply-writer {
    color: #f8f9fa !important;
    padding-top: 3px !important;
}

/* 댓글에 게시글 작성자 표시 */
.reply > .reply-header > small.code {
    color: #868e96 !important;
    padding-top: 4px !important;
}

/* 일반 댓글 본문 */
#article-reply-area > #reply-real-area .reply > .reply-content {
    color: #f8f9fa;
    padding: 10px 15px;
}

/* 마지막 댓글 아래 공백 제거 */
#article-reply-area #reply-real-area .reply:last-child {
    margin-bottom: 0;
}

#article-reply-area > .invisible {
    display: none;
}

/* 댓글 관리 컨테이너 */
.reply-menu {
    color: #339af0;
}

.reply-menu > a {
    color: #339af0;
}

/* 댓글 수정 */
.reply-menu > a:nth-child(1) {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:nth-child(1):hover {
    padding: 8px 10px;
    background-color: #1971c270;
    color: #4dabf7;
}

.reply-menu > a:nth-child(1):active {
    background-color: #339af070;
}

/* 댓글 삭제 */
.reply-menu > a:nth-child(3) {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:nth-child(3):hover {
    padding: 8px 10px;
    background-color: #e0313170;
    color: #ff8787;
}

.reply-menu > a:nth-child(3):active {
    background-color: #ff6b6b70;
}

/* 댓글 좋아요 */
.comment-vote-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.comment-vote-btn:hover {
    padding: 8px 10px;
    background-color: #2f9e4470 !important;
    color: #69db7c !important;
}

.comment-vote-btn:active {
    background-color: #51cf6670 !important;
}

/* 댓글 대댓글 */
.re-reply-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.re-reply-btn:hover {
    padding: 8px 10px;
    background-color: #1971c270 !important;
    color: #4dabf7 !important;
}

.re-reply-btn:active {
    background-color: #339af070 !important;
}

/* 댓글 신고 */
.comment-report-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.comment-report-btn:hover {
    padding: 8px 10px;
    background-color: #e0313170;
    color: #ff8787;
}

.comment-report-btn:active {
    background-color: #ff6b6b70;
}

.time {
    color: #339af0;
}

/* 댓글 #버튼 */
.reply-menu > a:last-child {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:last-child:hover {
    padding: 8px 10px;
    background-color: #1971c270;
    color: #4dabf7;
}

.reply-menu > a:last-child:active {
    padding: 8px 10px;
    background-color: #339af070
}

/* 댓글 대댓글 아이콘 */
.rereply-btn {
    color: #f8f9fa;
}

/* 새 댓글 불러오기 버튼 */
#loadNewCommentsBtn {
    border: 2px solid #2f9e44;
    background-color: #2f9e44;
    color: #f8f9fa;
    font-weight: bold;
    height: 35px;
    padding-top: 6px;
    border-radius: 13px;
    margin-top: 1em !important;
    margin-left: 0 !important;
    transition: all 0.2s;
}

#loadNewCommentsBtn:hover {
    border: 2px solid #37b24d;
    background-color: #37b24d;
}

#loadNewCommentsBtn:active {
    box-shadow: none;
    border: 2px solid #40c057;
    background-color: #40c057;
}


/* 댓글 작성 컨테이너 */
#comment-write-form {
    margin: 0;
}

/* 댓글 작성 컨테이너 */
#comment-write-form-area {
    padding: 0;
    margin-top: 1.5em;
}

/* 댓글 작성 컴포넌트 */
.fr-box {
    border-radius: 20px;
    border-bottom: 0;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.07)
}

/* 댓글 버튼 컨테이너 */
#comment-write-form #comment-write-button-area {
    margin-top: 20px;
    padding-right: 1px;
    border-radius: 20px;
    border-top: 0;
}

.fr-separator {
    display: none;
}

#emoticons-1 > i {
    margin-top: 10px;
}

#comment-write-button-area > label {
    color: #f8f9fa;
}

/* 대댓글 작성 컴포넌트 */
#article-reply-area #reply-real-area .reply > .reply-content > #comment-write-form > div.fr-box.fr-ltr.fr-basic.fr-top {
    margin: 20px 5px 0 5px;
}

/* 대댓글 작성 컨테이너 */
#article-reply-area #reply-real-area .reply > .reply-content > #comment-write-form > div.fr-box.fr-ltr.fr-basic.fr-top {
    border-bottom: 0;
}

#article-reply-area #reply-real-area .reply > .reply-content > #comment-write-form #comment-write-button-area {
    margin: 10px 5px 5px 5px;
    border-top: 0;
}

/* 대댓글 작성 취소 버튼 */
#btnRereplyCancelBtn {
    border: 2px solid #ced4da;
    background-color: #ced4da;
    height: 35px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: none;
}

#btnRereplyCancelBtn:hover {
    border: 2px solid #dee2e6;
    background-color: #dee2e6;
    color: #212529;
}

#btnRereplyCancelBtn:active {
    box-shadow: none;
}

/* 비밀 댓글 버튼 */
#comment-write-button-area > label {
    border: 2px solid #e89717;
    color: #e89717;
    font-size: 12px;
    height: 35px;
    margin-left: 1px;
    margin-right: 10px;
    padding: 4px 10px 0;
    border-radius: 13px;
    user-select: none;
    outline: none;
}

#secret {
    margin-right: 3px;
}

/* 댓글 쓰기 버튼 */
#writeCommentBtn {
    border: 2px solid #1971c2;
    background-color: #1971c2;
    color: #f1f3f5;
    font-weight: bolder;
    height: 35px;
    padding-top: 5px;
    margin-right: 1px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: none;
}

#writeCommentBtn:hover {
    border: 2px solid #1c7ed6;
    background-color: #1c7ed6;
    color: white;
}

#writeCommentBtn:active {
    box-shadow: none;
}

#writeCommentBtn:focus {
    border: 2px solid #228be6;
    background-color: #228be6;
    color: white;
}

/* 글 넘기기 버튼 */
#article-neighbor-list {
    border: 2px solid #212529;
    background-color: #343a40;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 1em;
}

#article-neighbor-list > div:hover {
    background-color: #495057;
}

#article-neighbor-list > div > span.indicator {
    color: #f8f9fa;
    padding: 5px 0 5px 10px;
}

#article-neighbor-list > div:nth-child(1) > a {
    color: #f8f9fa;
    padding: 5px 0 5px 10px;
}

#article-neighbor-list > div:nth-child(2) > a {
    color: #f8f9fa;
    padding: 5px 0 5px 10px;
}

#article-neighbor-list > div > span.author {
    color: #adb5bd;
    padding: 5px 10px 5px 0;
}

#article-neighbor-list > div {
    transition: all 0.2s;
}

/* 댓글 강조 */
#article-reply-area #reply-real-area .reply.active {
    background-color: #d0ebff;
}

#article-reply-area #reply-real-area .reply.active > .reply-header {
    padding: 10px 15px;
    border-radius: 14px 14px 0 0;
    background-color: #212529;
    border-bottom: 0;
}

#article-reply-area > #reply-real-area .reply.active > .reply-content {
    color: #212529;
}

/* 댓글 작성 폼 입력란 */
.fr-toolbar {
    border: 2px solid #212529;
    border-bottom: 0;
    background-color: #212529;
    border-radius: 20px 20px 0 0 !important;
    padding: 5px;
}

.fr-toolbar.fr-top {
    box-shadow: none;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
    background-color: #495057;
    border: 2px solid #212529;
    border-top: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: none;
}

.fr-toolbar .fr-command.fr-btn {
    color: white;
    border-radius: 15px;
    transition: all 0.2s;
}

.fr-box.fr-basic .fr-element {
    color: #f8f9fa;
}

.fr-toolbar .fr-command.fr-btn:hover {
    background-color: #343a40;
    border-radius: 15px;
}

.fr-toolbar .fr-command.fr-btn.fr-active {
    background-color: #343a40;
    color: #4dabf7;
}

.fr-toolbar .fr-command.fr-btn.fr-active:focus {
    background-color: #343a40;
    color: #4dabf7;
}

.fr-popup {
    border: 2px solid #adb5bd;
    background-color: #495057;
    top: -7px;
    border-radius: 10px;
}

.fr-popup .fr-arrow {
    top: -6px;
    margin-left: -7px !important;
    border-bottom: 5px solid #adb5bd;
}

.fr-popup .fr-buttons {
    background-color: #343a40;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    padding: 0;
}

.fr-popup .fr-colors-tabs {
    margin: 0;
    box-shadow: none;
}

.fr-popup .fr-colors-tabs .fr-colors-tab.fr-selected-tab {
    background-color: #495057 !important;
    color: #f8f9fa;
    border-radius: 8px 8px 0 0;
    transition: all 0.2s;
}

.fr-popup .fr-colors-tabs .fr-colors-tab {
    background-color: #343a40;
    border-radius: 8px 8px 0 0;
    transition: all 0.2s;
    color: #f8f9fa;
}

.fr-popup .fr-colors-tabs .fr-colors-tab:hover {
    background-color: #313131;
    border-radius: 8px 8px 0 0;
    transition: all 0.2s;
    color: #adb5bd;
}

.fr-popup .fr-color-set {
    margin: -4px;
    padding: 10px;
}

.fr-popup .fr-color-set > span {
    margin: 4px;
    border-radius: 10px;
    transition: all 0.2s;
}

.fr-popup .fr-color-set > span:last-child {
    border: 2px solid #f8f9fa !important;
    color: #f8f9fa;
    transition: all 0.2s;
}

.fr-popup .fr-color-set > span:last-child > i {
    bottom: -2px;
    left: -2px;
    transition: all 0.2s;
}

.fr-popup .fr-color-set > span:last-child:hover > i {
    bottom: -6px;
    left: -5px;
    font-size: 11px;
    color: #f8f9fa;
}

.fr-popup .fr-color-set > span:hover {
    height: 26px;
    width: 26px;
    margin: 7px;
    border-radius: 8px;
    outline: 0;
}

.fr-popup .fr-color-set > span .fr-selected-color {
    transition: all 0.2s;
}

.fr-popup .fr-color-set > span .fr-selected-color:hover {
    top: -2px;
    font-size: 11px;
}

.fr-popup .fr-color-hex-layer {
    display: flex !important;
    justify-content: end;
    padding-top: 0;
}

.fr-popup .fr-input-line input + label {
    display: none;
}

.fr-popup .fr-color-hex-layer .fr-input-line {
    width: auto;
    padding: 0;
}

/* .fr-popup .fr-input-line input[type=text] {
    padding: 0 15px;
    border: 2px solid #f8f9fa;
    border-radius: 13px;
    color: #f8f9fa;
    width: 200px;
    height: 35px;
} */
.fr-popup .fr-input-line input[type=text] {
    box-shadow: none;
    border: 2px solid #868e96;
    background-color: #868e96;
    color: #f8f9fa;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all 0.2s;
    height: 40px;
    outline: 0;
    margin: 0;
}

.fr-popup .fr-input-line input[type=text]:hover {
    border: 2px solid #1971c2;
}

.fr-popup .fr-input-line input[type=text]:focus {
    border: 2px solid #228be6;
    box-shadow: 0 0 20px 0 rgba(82, 63, 105, 0.13);
}


.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command {
    border: 2px solid #1971c2;
    background-color: #1971c2;
    color: #f1f3f5;
    font-weight: bolder;
    height: 40px;
    padding: 0 15px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: none;
    width: 60px;
}

.fr-popup .fr-color-hex-layer .fr-action-buttons {
    float: none;
    width: auto;
    margin-left: 10px;
    background-color: #1971c2;
    border-radius: 13px;
    height: 40px;
}

.fr-popup .fr-color-hex-layer .fr-action-buttons:hover {
    background-color: #1c7ed6;
}

.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command:hover {
    border: 2px solid #1c7ed6;
    background-color: #1c7ed6;
    color: white;
}

.fr-popup .fr-color-hex-layer .fr-action-buttons button.fr-command:active {
    box-shadow: none;
}

.fr-popup .fr-checkbox-line {
    color: white;
}

.fr-popup .fr-checkbox {
    background-color: #868e96;
    border-radius: 3px;
}

/* 글 쓰기 버튼 */
.fr-popup .fr-action-buttons button.fr-command {
    border: 2px solid #1971c2;
    background-color: #1971c2;
    color: #f1f3f5;
    font-weight: bolder;
    padding-top: 8px;
    height: 35px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: none;
}

.fr-popup .fr-action-buttons button.fr-command:hover {
    border: 2px solid #1c7ed6;
    background-color: #1c7ed6;
    color: #f8f9fa;
}

.fr-popup .fr-action-buttons button.fr-command:active {
    box-shadow: none;
    border: 2px solid #1c7ed6;
    background-color: #1c7ed6;
    color: #f8f9fa;
}

.fr-popup.emoticons {
    padding: 3px;
}

.fr-popup .fr-emoticon {
    background-color: #343a40;
    margin: 3px;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s;
}

.fr-popup .fr-emoticon:hover {
    background-color: #868e96;
}

.fr-popup .fr-emoticon img {
    margin-top: -7px;
}

.fr-popup .fr-image-upload-layer {
    border: 3px dashed #868e96;
}

.fr-popup .fr-image-upload-layer:hover {
    border: 3px solid #4dabf7;
}

.fr-popup .fr-layer.fr-active {
    border-radius: 10px;
    color: #f8f9fa;
    background-color: #495057;
    transition: all 0.2s;
}

.fr-box.fr-code-view textarea.fr-code {
    font-family: 'D2Coding', monospace;
    background-color: #495057;
    color: #f8f9fa;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8f9fa;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8f9fa !important;
}

.fr-command.fr-btn.fr-options:hover {
    border: 0;
}

.fr-command.fr-btn.fr-options:hover::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8f9fa;
}

.fr-desktop .fr-command:hover,
.fr-desktop .fr-command:focus,
.fr-desktop .fr-command.fr-btn-hover,
.fr-desktop .fr-command.fr-expanded {
    outline: 0;
    color: #f8f9fa;
    background: #343a40;
    border-left: 0 !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active {
    background-color: #343a40;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover {
    background-color: #343a40 !important;
}

.fr-toolbar .fr-command.fr-btn.fr-dropdown.fr-active:hover::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8f9fa !important;
}

.fr-command.fr-btn.fr-active + .fr-dropdown-menu {
    background-color: #495057;
    border: 2px solid #343a40;
}

.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
    background-color: #495057;
    color: #f8f9fa;
    transition: all 0.2s;
}

.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a:hover {
    background-color: #868e96;
    color: #f8f9fa;
}

/* 스크롤바 디자인 */
.fr-popup.emoticons::-webkit-scrollbar {
    width: 12px;
    border-radius: 0 8px 8px 0;
    background-color: #343a40;
}

.fr-popup.emoticons::-webkit-scrollbar-thumb {
    background-color: #868e96;
    border-radius: 4px 8px 8px 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

/* 투표 영역 */
#article-poll-form > .panel {
    border-radius: 16px;
    border: 2px solid #1864ab;
    background-color: #495057;
}

#article-poll-form > .panel > .panel-heading {
    border-radius: 14px 14px 0 0;
    background-color: #1864ab;
    padding: 13px 15px;
    color: #f8f9fa;
    border: none;
}

#article-poll-form > .panel > .panel-body > .list-group {
    margin-bottom: 0;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px 5px;
    margin-bottom: 10px;
    background-color: #343a40;
    border: none;
    border-radius: 15px;
    transition: all 0.2s;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item:last-child {
    margin-bottom: 0;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item:hover {
    background-color: #1c7ed6;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

#article-poll-form > .panel > .panel-footer {
    border-radius: 0 0 13px 13px;
    background-color: #495057;
    border: none;
    padding: 0 15px 15px 15px;
}


/* 투표 버튼 (투표하기) */
#article-poll-form > .panel > .panel-footer > #doVoteBtn {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #1c7ed6;
    background-color: #1c7ed6;
    color: #f8f9fa;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
}

#article-poll-form > .panel > .panel-footer > #doVoteBtn:hover {
    background-color: #228be6;
    border: 2px solid #228be6;
    color: #f8f9fa;
}

#article-poll-form > .panel > .panel-footer > #doVoteBtn:active {
    box-shadow: none;
    border: 2px solid #1971c2;
    background-color: #1971c2;
}

/* 투표 버튼 (결과보기) */
#article-poll-form > .panel > .panel-footer > #showResultVoteBtn {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #0ca678;
    background-color: #0ca678;
    color: #f8f9fa;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
    margin-right: 5px;
}

#article-poll-form > .panel > .panel-footer > #showResultVoteBtn:hover {
    background-color: #12b886;
    border: 2px solid #12b886;
    color: #f8f9fa;
}

#article-poll-form > .panel > .panel-footer > #showResultVoteBtn:active {
    box-shadow: none;
    border: 2px solid #099268;
    background-color: #099268;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item > .choice-gauge-back {
    background: #e7f5ff !important;
    transition: all 0.2s;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item:hover > .choice-gauge-back {
    background: #1971c2 !important;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item > .choice-gauge-back > .choice-gauge {
    background: #1971c2 !important;
    transition: all 0.2s;
}

#article-poll-form > .panel > .panel-body > .list-group > .list-group-item:hover > .choice-gauge-back > .choice-gauge {
    background: #e7f5ff !important;
}

/* 게시판 카테고리 컨테이너 */
#article-list #article-list-category {
    border: 0;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #343a40 !important;
}

/* 게시판 카테고리 개별 버튼 */
#article-list #article-list-category > a {
    border-radius: 20px;
    margin-right: 6px;
    font-size: 10px;
    background-color: #495057;
    font-weight: 400;
    transition: all 0.2s;
}

#article-list #article-list-category > a:hover {
    background-color: #868e96;
}

#article-list #article-list-category > a.active {
    background-color: #868e96;
}

#article-list #article-list-category > a:last-child {
    margin-right: 0;
}

#article-list-category > a:nth-child(2) {
    color: #bac8ff !important;
}

#article-list-category > a:nth-child(3) {
    color: #e9ecef !important;
}

#article-list-category > a:nth-child(4) {
    color: #99e9f2 !important;
}

#article-list-category > a:nth-child(5) {
    color: #b2f2bb !important;
}

#article-list-category > a:nth-child(6) {
    color: #a5d8ff !important;
}

#article-list-category > a:nth-child(7) {
    color: #fcc2d7 !important;
}

#article-list-category > a:nth-child(8) {
    color: #eebefa !important;
}

#article-list-category > a:nth-child(9) {
    color: #96f2d7 !important;
}

#article-list-category > a:nth-child(10) {
    color: #ffec99 !important;
}

#article-list-category > a:nth-child(11) {
    color: #ffc9c9 !important;
}

#article-list-category > a:nth-child(12) {
    color: #d0bfff !important;
}

#article-list-category > a:nth-child(13) {
    color: #ffd8a8 !important;
}

/* 광고 영역 */
#article-list #article-list-category + div {
    background-color: #343a40 !important;
}

#article-content > p > span[style*="background-color:rgb(255,255,255)"] {
    background-color: #ffffff00 !important;
    color: white !important;

}