/* 게시물 상세 */
/* 광고 영역 */
#board-info + div {
    margin-bottom: 1em;
    border-radius: 20px;
    padding: 1em !Important;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
}

/* 게시글 제목 */
#article-info {
    background-color: white;
    padding: 20px 20px 15px 20px;
    border-radius: 20px 20px 0 0;
    border: 2px solid #f1f3f5;
    border-bottom: none;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    z-index: 1;
}

/* 게시물 작성자 프로필 사진 */
#article-info .article-profile-img {
    border-radius: 15px;
    border: 2px solid #f1f3f5;
    box-shadow: 0 0 10px 0 rgb(82 63 105 / 10%);
}

/* 게시물 작성자 닉네임 */
#article-info #article-info-writer {
    padding: 10px 0 0 0;
}

/* 게시물 컨테이너 */
#article-content-wrapper {
    padding: 0;
    border-radius: 20px;
}

/* 게시물 본문 헤더 */
#article-content-wrapper > .header {
    background-color: white;
    border: 2px solid #f1f3f5;
    border-top: none;
    height: 45px;
    margin-bottom: 1em;
    padding: 13px 15px 0 15px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
}

/* 게시물 본문 */
#article-content-wrapper #article-content {
    background-color: white;
    border-radius: 20px 20px 0 0;
    border: 2px solid #f1f3f5;
    border-bottom: none;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    padding: 20px;
    word-break: keep-all !important;
}

/* 게시물 추천 영역 */
#article-content-wrapper > .vote-area {
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-bottom: 1em;
    border: 2px solid #f1f3f5;
    border-top: none;
}

/* 게시글 추천버튼 */
.vote-btn {
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 13px;
    transition: all 0.2s;
    border: 2px solid #5cb85c;
    color: #5cb85c;
    outline: none;
}

.vote-btn:hover {
    color: white;
}

.vote-btn:active {
    background-color: #0094ff;
    border: 2px solid #0094ff;
}

/* 게시물 관리 영역 */
#article-content-wrapper > .footer {
    background-color: white;
    padding: 20px;
    margin: 1em 0;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    border: 2px solid #f1f3f5;
}

/* 게시물 관리 버튼 (일반) */
#article-content-wrapper > div.footer > a {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #ced4da;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
}

#article-content-wrapper > div.footer > a:hover {
    border: 2px solid #e9ecef;
    background-color: #e9ecef;
}

#article-content-wrapper > div.footer > a:active {
    border: 2px solid #ced4da;
    background-color: #ced4da;
}

/* 게시물 관리 버튼 (신고) */
#reportArticleBtn {
    padding: 0 13px;
    height: 35px;
    border: 2px solid #d9534f;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    outline: none;
}

/* 목록, 스크랩, 수정, 삭제버튼 아이콘 */
#article-content-wrapper > div.footer > a > i {
    display: none;
}

/* 게시물 신고 버튼 아이콘 */
#reportArticleBtn > i {
    display: none;
}

/* 게시물 댓글 컨테이너 */
#article-reply-area {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    border: 2px solid #f1f3f5;
    margin-bottom: 1em;
}

/* 게시물 댓글 영역 헤더 */
#article-reply-area > .header {
    padding: 0 0 20px 0
}

/* 게시물 댓글 영역 - 베스트 댓글 컨테이너 */
#article-reply-area #reply-best-area {
    padding: 0 0 20px 0;
}

/* 베스트 댓글 - 댓글 컨테이너 */
#article-reply-area #reply-best-area .reply {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #f1f3f5;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
}

/* 베스트 댓글 - 댓글 헤더 */
#article-reply-area #reply-best-area .reply > .reply-header {
    padding: 10px 15px;
    border-radius: 18px 18px 0 0;
    background-color: #e7f5ff;
}

/* 베스트 댓글 - 댓글 본문 */
#article-reply-area #reply-best-area .reply > .reply-content {
    padding: 10px 15px;
    border-radius: 0 0 18px 18px;
}

/* 게시물 댓글 영역 - 일반 댓글 리스트 */
#article-reply-area #reply-real-area {
    padding: 0;
}

/* 일반 댓글 컨테이너 */
#article-reply-area #reply-real-area .reply {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #f1f3f5;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
    padding: 0;
}

/* 일반 댓글 헤더 */
#article-reply-area #reply-real-area .reply > .reply-header {
    padding: 10px 15px;
    border-radius: 18px 18px 0 0;
    background-color: #e7f5ff;
}

/* 댓글 작성자 */
.reply > .reply-header > .reply-writer {
    padding-top: 3px !important;
}

/* 댓글에 게시글 작성자 표시 */
.reply > .reply-header > small.code {
    padding-top: 4px !important;
}

/* 일반 댓글 본문 */
#article-reply-area > #reply-real-area .reply > .reply-content {
    padding: 10px 15px;
}

/* 마지막 댓글 아래 공백 제거 */
#article-reply-area #reply-real-area .reply:last-child {
    margin-bottom: 0;
}

/* 댓글 수정 */
.reply-menu > a:nth-child(1) {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:nth-child(1):hover {
    padding: 8px 10px;
    background-color: #d0ebff;
}

.reply-menu > a:nth-child(1):active {
    background-color: #a5d8ff;
}

/* 댓글 삭제 */
.reply-menu > a:nth-child(3) {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:nth-child(3):hover {
    padding: 8px 10px;
    background-color: #ffc9c9;
    color: #c92a2a;
}

.reply-menu > a:nth-child(3):active {
    background-color: #ffa8a8;
}

/* 댓글 좋아요 */
.comment-vote-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.comment-vote-btn:hover {
    padding: 8px 10px;
    background-color: #b2f2bb !important;
    color: #2b8a3e;
}

.comment-vote-btn:active {
    background-color: #8ce99a !important;
}

/* 댓글 대댓글 */
.re-reply-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.re-reply-btn:hover {
    padding: 8px 10px;
    background-color: #d0ebff !important;
    color: #23527c !important;
}

.re-reply-btn:active {
    background-color: #a5d8ff !important;
}

/* 댓글 신고 */
.comment-report-btn {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.comment-report-btn:hover {
    padding: 8px 10px;
    background-color: #ffc9c9;
    color: #c92a2a;
}

.comment-report-btn:active {
    background-color: #ffa8a8;
}

/* 댓글 #버튼 */
.reply-menu > a:last-child {
    padding: 8px 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.reply-menu > a:last-child:hover {
    padding: 8px 10px;
    background-color: #d0ebff;
}

.reply-menu > a:last-child:active {
    padding: 8px 10px;
    background-color: #a5d8ff;
}

/* 새 댓글 불러오기 버튼 */
#loadNewCommentsBtn {
    border: 2px solid #51cf66;
    background-color: white;
    color: #51cf66;
    font-weight: bold;
    height: 35px;
    padding-top: 6px;
    border-radius: 13px;
    margin-top: 1em !important;
    margin-left: 0 !important;
    margin-bottom: 1em !important;
    transition: all 0.2s;
}

#loadNewCommentsBtn:hover {
    background-color: #51cf66;
    color: white;
}

#loadNewCommentsBtn:active {
    border: 2px solid #37b24d;
    background-color: #37b24d;
    color: white;
}


/* 댓글 작성 컨테이너 */
#comment-write-form {
    margin: 0;
}

/* 댓글 작성 컨테이너 */
#comment-write-form-area {
    padding: 0;
}

/* 댓글 작성 컴포넌트 */
.fr-box {
    background-color: white;
    border-radius: 20px 20px 0 0;
    border: 2px solid #f1f3f5;
    border-bottom: 0;
    padding: 20px;
}

/* 댓글 버튼 컨테이너 */
#comment-write-form #comment-write-button-area {
    background-color: white;
    margin: 0;
    padding: 0 20px 20px 20px;
    border-radius: 0 0 20px 20px;
    border: 2px solid #f1f3f5;
    border-top: 0;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 7%);
}

/* 대댓글 작성 컴포넌트 */
#article-reply-area #reply-real-area .reply > .reply-content > #comment-write-form > div.fr-box.fr-ltr.fr-basic.fr-top {
    margin: 20px 5px 0 5px;
}

/* 대댓글 버튼 컨테이너 */
#article-reply-area #reply-real-area .reply > .reply-content > #comment-write-form #comment-write-button-area {
    margin: 0 5px 5px 5px;
}

/* 대댓글 작성 취소 버튼 */
#btnRereplyCancelBtn {
    border: 2px solid #f1f3f5;
    height: 35px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: none;
}

/* 댓글 쓰기 버튼 */
#writeCommentBtn {
    border: 2px solid #0094ff;
    color: #0094ff;
    font-weight: bolder;
    background-color: white;
    height: 35px;
    border-radius: 13px;
    transition: all 0.2s;
    outline: 0;
}

#writeCommentBtn:hover {
    background-color: #0094ff;
    color: white;
}

#writeCommentBtn:active {
    border: 2px solid #1971c2;
    background-color: #1971c2;
    color: white;
}

/* 글 넘기기 버튼 */
#article-neighbor-list {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 1em;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);
}

#article-neighbor-list > div {
    transition: all 0.2s;
}