/* main.css */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css");

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
}

/* 배경 없애기 */
html, body, header, footer, #content-area {
    background-image: none !important;
    background-color: #f1f3f5;
}

/* 스크롤바 디자인 */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 15px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

/* 트게더 전체 검색창 */
header #right-search-form > input[type=text] {
    border: 2px solid #e9ecef;
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all 0.2s;
    height: 40px;
    outline: 0;
}

header #right-search-form > input[type=text]:hover {
    border: 2px solid #0094ff;
}

header #right-search-form > input[type=text]:focus {
    border: 2px solid #0094ff;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

#main #main-menu {
    position: sticky;
    top: 17px;
}

/* 트게더 전체 메뉴 컨테이너 */
div.menu-wrapper {
    border: 2px solid #f1f3f5;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.07)
}

/* 트게더 전체 메뉴 (상단) */
#main-menu > div.menu-wrapper > div.header {
    padding: 10px;
    text-align: center;
}

i.fa.fa-bars {
    display: none;
}

/* 트게더 전체 메뉴 리스트 */
#main-menu > div.menu-wrapper > a {
    padding: 10px;
    transition: all 0.2s;
}

a.shortcut-link:last-child {
    border-radius: 0 0 20px 20px;
}

/* 트게더 전체 메뉴 리스트 아이콘 */
#main-menu > div.menu-wrapper > a > em {
    color: #0094ff;
    margin-right: 6px;
}

/* 트게더 전체 메뉴 스페이서 */
.spacer {
    display: none !important;
}

/* 게시판 정보 컨테이너 */
#board-info {
    background-image: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0.7) 100%), url("https://static-cdn.jtvnw.net/jtv_user_pictures/ea777be2-7415-4ef2-8512-20083e08e9db-profile_image-300x300.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    border: 2px solid #f1f3f5;
    height: 85px;
}

/* 게시판 정보 */
#board-info h1 {
    border: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 4px;
}

/* 스트리머 이름 */
#board-info h1 a {
    margin-right: 10px;
}

/* 게시판 점수 */
#score-area {
    margin-top: -4px;
}

#score-area:after {
    content: "";
    border: 1px solid #efefef;
    margin: 0 4px 0 6px;
}

/* 게시판 접속자 수 */
#board-info #viewers-area {
    margin-top: -4px;
    z-index: 1;
}

/* kns10 아이콘 (앞) */
i.fa.fa-user {
    display: none;
}

/* kns10 아이콘 (뒤) */
#board-info #viewers-area:after {
    padding: 15px 0 15px 5px;
    transition: all 0.2s;
    background-color: #ffffff00;
    content: "| 테마 빌드 211124.01L"
}

#board-info #viewers-area:hover:after {
    color: #5c7cfa;
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px 15px;
    margin-left: 5px;
    border-radius: 1.2rem;
    transition: all 0.2s;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.08);
    content: "빌드 정보에 업데이트 로그 추가"
}

/* 스트리머 프로필 사진 (원형) */
#board-info-profile-img {
    display: none;
}

/* 리스트 전체 컨테이너 */
#article-list {
    padding: 0;
}

/* 게시판 카테고리 컨테이너 */
#article-list #article-list-category {
    border: 0;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    display: flex;
    justify-content: center;
}

/* 게시판 카테고리 개별 버튼 */
#article-list #article-list-category > a {
    border-radius: 20px;
    margin-right: 5.4px;
    font-size: 11px;
    background-color: #d0ebff;
    font-weight: 600;
    transition: all 0.2s;
}

#article-list > .article-list-row > .item > .list-title > a {
    font-weight: 400;
    font-size: 14px;
}

#article-list #article-list-category > a:hover {
    background-color: white;
}

#article-list #article-list-category > a.active {
    background-color: white;
}

#article-list #article-list-category > a:last-child {
    margin-right: 0;
}

/* 공지 숨김 버튼 */
#article-option-area-toggle-btn {
    display: none;
}

/* 게시물 리스트 (공통/일반) */
#article-list > .article-list-row > .item {
    background-color: white;
    transition: all 0.2s;
}

#article-list > .article-list-row > .item:hover {
    background-color: #f1f3f5;
}

/* 게시물 리스트 컨테이너 */
#article-list {
    background-color: white;
    border-radius: 22px;
    border: 2px solid #f1f3f5;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.07)
}

/* 게시물 리스트 (공지) */
#article-list > .article-list-row.notice > .item {
    background-color: #cceaff;
}

#article-list > .article-list-row.notice > .item:hover {
    background-color: #c2e5ff;
}

/* 게시물 리스트 (인기글) */
#article-list > .article-list-row.hot > .item {
    background-color: #f3eef7;
}

#article-list > .article-list-row.hot > .item:hover {
    background-color: #eee7f4;
}

/* 게시물 리스트 (추천수) */
#article-list > .article-list-row > .item > .list-header {
    border-left: 0;
}

/* 게시물 추천 수 */
#article-list > .article-list-row > .item > .list-header {
    padding-left: 6px;
}

#article-list > .article-list-row > .item > .list-header > span {
    display: block;
    width: 34px;
    height: 21px;
    padding-top: 5px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #4dabf7;
}

/* 게시물에 추천 수가 0일 때 */
#article-list > .article-list-row > .item > .list-header.v0 > span {
    display: none;
}

span.a-badge i.fa.fa-picture-o {
    color: #469c68;
    vertical-align: -3px !important;
}



/* 게시물 작성자 */
#article-list > .article-list-row > .item > .list-title > .list-writer {
    border: 0;
    padding: 0 3px;
    text-align: right;
}

#article-list > .article-list-row > .item > .list-title > .list-writer > span {
    border: 0;
    padding: 0 3px;
    font-weight: 600 !important;
    font-size: 14px;
}

/* 게시물 카테고리 */

#article-list > .article-list-row > .item > .list-title > .list-category {
    margin-top: 1px;
    margin-right: 0;
    border: 0;
    padding: 0 5px;
}

#article-list > .article-list-row > .item > .list-title > .list-category > span {
    display: initial;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #ffffff00;
}

/* 게시물 리스트 (작성시간) */
#article-list > .article-list-row {
    border-right: 0;
}

#article-list>.article-list-row>.item>.list-time {
    font-weight: 600;
}

#main #main-content > div.frame {
    background: none;
    border: 0 solid #f1f3f5;
}

/* 현재 보고 있는 게시물 */
#article-list > .article-list-row.active > .item {
    background-color: #f1f3f5;
}

/* 현재 보고 있는 게시물 제목 */
#article-list > .article-list-row.active > .item > .list-title > a {
    color: #cccccc !important;
}

/* 인기글 필터 버튼 (일반) */
#article-list #article-list-menu > .btn.best {
    border: 2px solid #ffd43b;
    background-color: #ffffff00;
    border-radius: 13px;
    color: #212529 !important;
    height: 35px;
    padding-top: 7px;
    margin-left: 20px;
    transition: all 0.2s;
    font-weight: 500;
}

#article-list #article-list-menu > .btn.best:hover {
    border-color: #ffd43b;
    background-color: #ffd43b;
}

#article-list #article-list-menu > .btn.best > i {
    margin-right: 3px;
}

#article-list #article-list-menu > .btn.best > i::before {
    top: 0;
}

/* 인기글 필터 버튼 (선택됨) */
#article-list #article-list-menu > .btn.best.enable {
    border-color: #ffd43b;
    background-color: #ffd43b;
    font-weight: 500;
}

#article-list #article-list-menu > .btn.best.enable:hover {
    background-color: #fcc419;
    border: 2px solid #fcc419;
}

/* 글 쓰기 버튼 */
#article-list #article-list-menu > .btn.write {
    border: 2px solid #0094ff;
    color: #0094ff;
    font-weight: bolder;
    background-color: white;
    height: 35px;
    padding-top: 7px;
    margin-right: 20px;
    border-radius: 13px;
    transition: all 0.2s;
}

#article-list #article-list-menu > .btn.write > i {
    margin-right: 3px;
}

#article-list #article-list-menu > .btn.write:hover {
    background-color: #0094ff;
    color: white;
}

/* 게시글 페이지 버튼 (선택됨) */
.pagination > .active > a {
    border: 2px solid #0094ff;
}

/* 게시글 페이지 버튼 (나머지) */
.pagination > li > a {
    border: 2px solid #e9ecef;
    height: 35px;
    min-width: 35px;
    margin: 0 4px;
    padding: 10px 10px 12px 10px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

/* 게시글 페이지 버튼 (왼쪽으로) */
.pagination > li:first-child > a {
    border-radius: 15px;
}

/* 게시글 페이지 버튼 (오른쪽으로) */
.pagination > li:last-child > a {
    border-radius: 15px;
}

/* 게시글 검색 버튼 (공통) */
#article-list #boardSearchForm > span > button {
    height: 40px;
    border-radius: 15px;
    border: 2px solid #e9ecef;
    transition: all 0.2s;
}

#article-list #boardSearchForm > span > button:focus {
    outline: none;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #e6e6e6;
    transition: all 0.2s;
}

/* 게시글 검색 버튼 (돋보기) */
#article-list #boardSearchForm > span > button:last-child {
    margin-left: 20px;
}

/* 게시글 검색창 */
#article-list #boardSearchForm .form-control {
    box-shadow: none;
    border: 2px solid #e9ecef;
    background-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    transition: all 0.2s;
    margin-left: 10px;
    height: 40px;
    outline: 0;
}

#article-list #boardSearchForm > input.form-control:hover {
    border: 2px solid #0094ff;
}

#article-list #boardSearchForm > input.form-control:focus {
    border: 2px solid #0094ff;
    box-shadow: 0 0 20px 0 rgba(82, 63, 105, 0.13);
}

/* 게시글 검색 하단 여백 */
#article-list #boardSearchForm {
    margin: 20px auto;
}